
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #007bff;
    margin-bottom: 20px;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}

.container, .jumbotron {
    padding: 20px;
}

.jumbotron {
    margin-bottom: 20px;
    color: white;
    border-radius: 0.3rem;
    background-size: cover;
}

.btn-primary {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}



.containera p {
    font-size: 16px;
    line-height: 1.6; 
    color: #333;
}

@media (max-width: 768px) {
    .home-bannera {
        height: 30vh; 
    }
    .containera p {
        font-size: 14px; 
    }
}