<div class="home-banner" style="background-image: url('https://res.cloudinary.com/dovtzw7hn/image/upload/v1715930275/img-SZQhu7ZYEMcmQnTLacqOT_qo6vdq.jpg');">
  <div class="container text-center text-white">
    <marquee direction="right" scrollamount="10" behavior="alternate" >
      <h1 class="display-3">GENALPHA TECH TECHNOLOGY</h1>
    </marquee>
    <marquee><p class="lead">"An Aristoverse initiative revolutionizing technology education for the futuristic world"</p></marquee>
    <p>"To empower youth with knowledge and skills, making them the next generation of innovators and technology leaders"</p>
    <button href="#" class="btn btn-primary btn-lg mt-4">Join us Now for an Innovative Future</button>
  </div>
</div>

<div class="container my-5">
  <div class="row align-items-center">
      <div class="col-md-6">
          <img src="https://media.istockphoto.com/id/1438179130/photo/diversity-women-education-or-students-with-laptop-notebook-or-learning-in-collage-school-or.webp?b=1&s=170667a&w=0&k=20&c=0g_lKphvGkN2jzz6xpH1AE4v1AxOVeL2GHLllACkrgw=" alt="Engaged Learning" class="img-fluid">
      </div>
      <div class="col-md-6">
          <h2>As an Aristoverse initiative, GenAlphaTech...</h2>
          <p>We leverage the resources and networks of Aristoverse to provide our students with unparalleled opportunities for growth and development...</p>
          <p>What sets GenAlphaTech apart is our commitment to hands-on learning and real-world applications.Our courses are taught by experienced industry professionals who bring their expertise and insights into the classroom. You will work on challenging projects, collaborate with like-minded peers, and gain practical experience that will set you apart in the job market.
          </p>
         <p>Join us at GenAlpha-Tech and embark on a transformative journey of learning and discovery. Enroll in our courses today and take the first step towards becoming a technology leader of tomorrow.
        </p>
      </div>
  </div>
</div>